/* app css stylesheet */

body {
  background-color: #fff;
}

.progress {
  overflow: hidden;
  height: 250px;
  padding: 0;
  background: url('images/blue-bg.png');
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8), 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: url('images/gold-bg.png');
  box-shadow: 0 2px 0 rgba(255, 151, 0, 0.8) inset;
}

.progress-section {
  height: 33.3%;
  z-index: 1;
  position: relative;
  border-bottom: 2px solid #fff;
  line-height: 75px;
  text-align: left;
}

.progress-section:last-child {
  border-bottom: none;
}

label {
  font-size: 15px;
  font-style: italic;
  color: #254a5c;
  font-family: 'Open Sans', sans-serif;
}

.movesLeft {
  font-size: 90px;
  font-weight: 700;
  color: #e87e00;
  line-height: 85px;
  font-family: "Lilita One", cursive;
  font-style: normal;
  display: block;
}

.score {
  color: #e87e00;
  font-size: 36px;
  position: relative;
  z-index: 1;
  font-family: "Lilita One", cursive;
  font-style: normal;
  display: block;
}

[hud] {
  font-weight: bold;
  text-align: center;
}

canvas {
  background-color: #7b9eae;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8), 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
  padding: 10px;
}