/* Copyright Ayogo 2013 */

html, body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: "Lilita One", cursive;
	min-width: 850px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#game {
	position: relative;
	padding-bottom: 0px;
	width: 100%;
	height: 100%;
	overflow: visible;
}

#main {
	float: left;
	position: relative;
}


/*Note: There are patterns related to local, global, and function calls in code.*/

div.textDisplayBorder {
	background-color: #F260B1;
	background: -webkit-repeating-linear-gradient(45deg, #FFC2C7 0px, #FFC2C7 25px, #F260B1 25px, #F260B1 60px);
	background: repeating-linear-gradient(50deg, #F260B1 0px, #FFC2C7 1px, #FFC2C7 25px, #F260B1 26px, #F260B1 60px);
	border-radius: 15px;
	margin-bottom: 1em;
	padding: 8px;
	overflow: visible;
}

.gameTextOverlay {
	pointer-events: none; /*Sometimes, CSS is amazingly wonderful.*/
}

.progressBarContainer{
	margin-right: 5px;
	width: 130px;
	float: left;
	font-weight: bold;
	text-align: center;
}

.moves{
	font-size: 15px;
	font-style: italic;
	color: #254a5c;
	font-family: 'Open Sans', sans-serif;
}

#turnsLeft{
	font-size: 90px;
	font-weight: 700;
	color: #e87e00;
	line-height: 85px;
	font-family: "Lilita One", cursive;
	font-style: normal;
	display: block;
}

.score{
    margin-top: 25px;
	font-size: 15px;
	font-style: italic;
	color: #254a5c;
	font-family: 'Open Sans', sans-serif;
}

#scoreDisplay{
	color: #e87e00;
	font-size: 36px;
	position:relative;
	z-index:1;
	font-family: "Lilita One", cursive;
	font-style: normal;
	display: block;
}

.progressBar{
	position: relative;
	width: 116px;
	height: 250px;
	margin:26px 0 0 11px;
	background: url("../images/blue-bg.png") no-repeat;
}

.mask{
	width: 136px;
	height: 270px;
	position: absolute;
	left: -10px;
	top: -10px;
	background: url("../images/mask.png") no-repeat;
	z-index: 2;
}

.progressBarSegment{
	position:absolute;
	font-size: 1.2em;
	width: 100%;
	z-index:2;
}

.movesContainer {
	height:205px;
	margin-top:40px;
}

#max_reward {
	height:85px;
	line-height: 85px;
	top:0;
}

#med_reward {
	height: 82px;
	line-height: 82px;
	top:85px;
}

#min_reward {
	height: 87px;
	line-height: 87px;
	top:167px;
}

.progressBarFill{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	width: 100%;
	height: 0px;
	background: url('../images/gold-bg.png') bottom left no-repeat;
	left: 0;
	bottom: 0;
	box-shadow:0 2px 0 rgba(255, 151, 0, 0.8) inset;
}

#minigame-loading {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #455e84;
    z-index: 5;
    color: #fff;
}

.minigame-loading-icon {
    width: 20%;
}

.minigame-loading-text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#minigame-loading-error {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f29891;
    z-index: 6;
    color: #753432;
}

.minigame-loading-info {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}
