/* Copyright Ayogo 2013 */

html, body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "Lilita One", cursive;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#game {
    position: relative;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #7b9eae;
    border-bottom: 1px solid #768388;
    box-sizing: border-box;
}

#main {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/*Note: There are patterns related to local, global, and function calls in code.*/

div.textDisplayBorder {
    background-color: #F260B1;
    background: -webkit-repeating-linear-gradient(45deg, #FFC2C7 0px, #FFC2C7 25px, #F260B1 25px, #F260B1 60px);
    background: repeating-linear-gradient(50deg, #F260B1 0px, #FFC2C7 1px, #FFC2C7 25px, #F260B1 26px, #F260B1 60px);
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 8px;
    overflow: visible;
}

.gameTextOverlay {
    pointer-events: none; /*Sometimes, CSS is amazingly wonderful.*/
}

.progressBarContainer
{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.movesContainer
{
    background: #ccdbe2;
    border-bottom: 1px solid #768388;
}

.moves,
.score
{
    width: 45%;
    display: inline-block;
    font-size: 15px;
    color: #1b3542;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
.moves {
  text-align: left;
}
.score {
  text-align: right;
}

.moves span,
.score span
{
    font-size: 24px;
    line-height: 30px;
    color: #e87e00;
    vertical-align: middle;
    padding-left: 0.5em;
    vertical-align: bottom;
}

.progressBar
{
  overflow: hidden;
  position: relative;
  height: 40px;
  background-color: #455e84;
}

.mask
{
    display: none;
}

.progressBarSegment
{
    width: 33%;
    float: right;
    height: 40px;
    position: relative;
    z-index: 2;
}

#min_reward
{
    float: none;
    border-right: 1px solid #768388;
}

#max_reward
{
    border-left: 1px solid #768388;
}


.progressBarFill
{
    position: absolute;
    z-index: 1;
    height: 100%;
    background: #ffcc00;
    top: 0;
    left: 0;
    
  background-color: #feb112;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  
  -webkit-background-size: 25px 25px;
  -moz-background-size: 25px 25px;
  background-size: 25px 25px;
}

#minigame-loading {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #455e84;
    z-index: 5;
    color: #fff;
}

.minigame-loading-icon {
    width: 30%;
}

.minigame-loading-text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#minigame-loading-error {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f29891;
    z-index: 6;
    color: #753432;
}

.minigame-loading-info {
    position: absolute;
    top: 22%;
    width: 100%;
    text-align: center;
}
